#root {
    text-align: center;
}
 
body {
    display: center;
}
@font-face {
    font-family: 'OCR A Extended';
    src: url('fonts/OCRAExtended.ttf') format('truetype');
}
.title {
    color:#D4145A;
    font-family: 'OCR A Extended', sans-serif ;
    size: 20px;
}

.Slogan {
    color: black;
    font-family: 'OCR A Extended', sans-serif ;
}




nav.menu-1 {
   display: flex;
   width: 100%;
   justify-content: center;
    
}



nav.menu-1 .list {
    display: flex;
     padding: 0;
    margin: 0;
    list-style: none;
    justify-content: flex-start;
}

nav.menu-1 .list li {
    margin-left: 10px;
}

nav.menu-1 .list a {
    display: block;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    justify-content: center;

}

nav.menu-1 .list a:hover {
    border-bottom: 4px solid #D4145A;
}



nav.menu-1 .icon-bars {
    display:none;
    
}

#cifrar-usuario input[type="text"] {
    width: 300px;
    height: 100px;


}

#cifrar-usuario {
    display: flex;
    justify-content: center;

}

#descifrar-usuario input[type="text"] {
    width: 300px;
    height: 100px;

}

#resultado-cifrado input[type="text"] {
    width: 300px;
    height: 100px;

}

#resultado-descifrado input[type="text"] {
    width: 300px;
    height: 100px;

}

.alineacion-vertical {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

